<div class="container">
  <div class="row">
    <div class=" col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-5">
      <h1>ログイン</h1>
      <%= form_with url: login_path, local: true do |f| %>
        <div class="form-group mt-3">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class="form-group mt-3">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="actions">
          <%= f.submit 'ログイン', class: 'btn btn-secondary btn-lg mt-5' %>
        </div>
      <% end %>
      <div class='text-center mt-3'>
        <%= link_to 'RR 新規ユーザー登録', new_user_path %>
        <%= link_to 'パスワードの再発行', '#' %>
      </div>
    </div>
  </div>
</div>