<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto mt-2">
      <h1>RR ユーザー登録</h1>
      <%= form_with model: @user, local: true do |f| %>
      <div class="form-group mt-2">
        <%= f.label :displayname %>
        <%= f.text_field :displayname, class:'form-control' , placeholder:"〇〇ちゃんにしてしまい「〇〇ちゃんさん」になりがち" %>
      </div>
      <div class="form-group mt-2">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class:'form-control', placeholder:"珍しい苗字に憧れがち" %>
      </div>
      <div class="form-group mt-2">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class:'form-control', placeholder:"「これからは名前で呼んで」ってアニメ2話くらいにありがち" %>
      </div>
      <div class="form-group mt-2">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', placeholder:"誕生年入れて年齢バレがち" %>
      </div>
      <div class="form-group mt-2">
        <%= f.label :password %>
        <%= f.password_field :password, class:'form-control', placeholder:"普通にわすれがち" %>
      </div>
      <div class="form-group mt-2">
        <%= f.label :password_confirmation %>
        <%= f.password_field:password_confirmation, class: 'form-control', placeholder:"何文字目まで打ったか混乱しがち" %>
      </div>
      <%= f.submit '登録', class: 'btn btn-secondary btn-lg mt-3' %>
      <% end %>
      <div class="text-center">
        <%= link_to 'ログインページへ', '#' %>
      </div>
    </div>
  </div>
</div>