<header>
  <nav class="navbar navbar-expand-lg navigation bg-dark" data-bs-theme="dark">
    <%= link_to root_path, class: 'navbar-brand '  do %>
    <%= image_tag 'logo.png', width:50 %>
    <%end %>
    <div class = "navbar-text">Reality Reflections</div>
    
    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto main-nav align-items-center">
        <% if current_user %>
        <li class="navbar-text me-auto">あるある投稿数：<%= current_user_board_count %>　　</li>
        <% end %>
        <li class="nav-item dropdown dropdown-slide">
          <%= link_to current_user.displayname, "#", class: 'nav-link dropdown-toggle', data: {bs_toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false'}, id: 'header-board-menu' %>
          <div class="dropdown-menu dropdown-menu-end">
            <%= link_to 'あるある見たい', boards_path, class: 'dropdown-item' %>
            <%= link_to 'あるある言いたい', new_board_path, class: 'dropdown-item' %>
            <%= link_to 'ログアウト', logout_path, class: 'dropdown-item', data: { turbo_method: :delete } %>
          </div>
        </li>
        </li>
      </ul>
    </div>
  </nav>
</header>