<div class="card mt-3 mx-3 p-0" style="width: 18rem;">
	<div class="card-img-top">
  <% if board.image.attached? %>
    <%= image_tag board.image, class: 'img-fluid' %>
  <% end %>
   <div class="card-img-overlay">
      <h6><span class="badge bg-secondary"><%= board.category %></span></h6>
    </div>
  </div>
	
	<div class="card-title text-center card-header">
   <h5><%= board.user.displayname %></h5>
  </div>
  <div class="card-body">
    <p class="card-text">
      <%= board.body %>
    </p>
  </div>
  
  <div class="d-grid gap-2 d-md-block m-3">
  <% if logged_in? %>
    <% if board.majors.find_by(user: current_user) %>
      <%= render 'boards/unmajor', {board: board} %>
    <% else %>
      <%= render 'boards/major', {board: board} %>
    <% end %>

    <% if board.minors.find_by(user: current_user) %>
      <%= render 'boards/unminor', {board: board} %>
    <% else %>
      <%= render 'boards/minor', {board: board} %>
    <% end %>
  <% else %>
    <button type="button" class="btn btn-outline-primary" disabled><%= "#{board.majors_count}めちゃR" %></button>
    <button type="button" class="btn btn-outline-secondary" disabled><%= "#{board.minors_count}シブR" %></button>
  <% end %>
  <i class="bi bi-question-circle" data-bs-toggle="modal" data-bs-target="#RSample"></i>
  </div>

  <div class="text-end card-footer">
    <small class="text-muted">
      <%= board.created_at.strftime("%Y-%m-%d %H:%M") %>
    </small>
    <% if logged_in? %>
      <%= render 'crud_menus', board: board if current_user.own?(board) %>
    <% end %>
  </div>

</div>


<div class="modal fade" id="RSample" tabindex="-1" aria-labelledby="#RSample" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">RR（あるある）評価</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><button type="button" class="btn btn-primary" disabled>めちゃR</button> : 日常的に遭遇する物量的あるある　ほんとそれな</P>
      　<p><button type="button" class="btn btn-secondary" disabled>シブR</button> : 頻度は低いが深みのある技巧派あるある　わかるわぁ</P>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Recognise</button>
      </div>
    </div>
  </div>
</div>